name: Hosted Runners (linux, CUDA)

on:
  push:
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: nvidia/cuda:12.6.2-devel-ubuntu22.04
    steps:
    - name: Install Packages
      run: >
        apt-get update && apt-get install 
        -y --no-install-suggests --no-install-recommends
        cmake openmpi-bin libopenmpi-dev

    - name: Checkout Kokkos Tutorials
      uses: actions/checkout@v4
      with:
        path: kokkos-tutorials

    - name: Checkout Kokkos
      uses: actions/checkout@v4
      with:
        repository: 'kokkos/kokkos'
        ref: master
        path: kokkos

    - name: Checkout Kokkos Kernels
      uses: actions/checkout@v4
      with:
        repository: 'kokkos/kokkos-kernels'
        ref: master
        path: kokkos-kernels

    - name: Configure Kokkos
      run: >
        cmake -S "${GITHUB_WORKSPACE}"/kokkos -B "${GITHUB_WORKSPACE}"/build-kokkos
        -DCMAKE_INSTALL_PREFIX="${GITHUB_WORKSPACE}"/install-kokkos
        -DCMAKE_CXX_COMPILER="${GITHUB_WORKSPACE}"/kokkos/bin/nvcc_wrapper
        -DCMAKE_BUILD_TYPE=RelWithDebInfo
        -DKokkos_ENABLE_CUDA=ON
        -DKokkos_ARCH_AMPERE80=ON

    - name: Build & Install Kokkos
      run: cmake --build "${GITHUB_WORKSPACE}"/build-kokkos --config RelWithDebInfo --parallel 2 --target install

    - name: Configure Kokkos Kernels
      run: >
        cmake -S "${GITHUB_WORKSPACE}"/kokkos-kernels -B "${GITHUB_WORKSPACE}"/build-kokkos-kernels
        -DCMAKE_INSTALL_PREFIX="${GITHUB_WORKSPACE}"/install-kokkos-kernels
        -DCMAKE_CXX_COMPILER="${GITHUB_WORKSPACE}"/kokkos/bin/nvcc_wrapper
        -DCMAKE_BUILD_TYPE=RelWithDebInfo
        -DKokkos_ROOT="${GITHUB_WORKSPACE}"/install-kokkos

    - name: Build & Install Kokkos Kernels
      run: cmake --build "${GITHUB_WORKSPACE}"/build-kokkos-kernels --config RelWithDebInfo --parallel 2 --target install

    - name: Configure and Build Exercises
      run: >
        bash "${GITHUB_WORKSPACE}"/kokkos-tutorials/Scripts/ci-configure-build-test.sh
        "${GITHUB_WORKSPACE}"/install-kokkos/lib/cmake/Kokkos
        "${GITHUB_WORKSPACE}"/install-kokkos-kernels
        "${GITHUB_WORKSPACE}"/kokkos-tutorials
        "${GITHUB_WORKSPACE}"/kokkos/bin/nvcc_wrapper 
        RelWithDebInfo 
        CUDA

    - name: Run Solutions
      run: |
        bash "${GITHUB_WORKSPACE}"/kokkos-tutorials/Scripts/ci-run-solutions.sh \
        "${GITHUB_WORKSPACE}"/kokkos-tutorials \
        CUDA
